<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Timeline</title>
		<link rel="stylesheet" href="/client/timeline/timeline.css">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="twitter_logo"></div>
				<div id="account">
					<div id="popup"></div>
					<div id="user_logo"></div>
					<div id="user_name">yuta_okano</div>
				</div>
			</div>
			<div id="container">
				<div id="contents">
					<div class="spacer"></div>
					<div id="main">
						<div id="rainbow"></div>
						<div id="main_header">Your Tweet</div>
						<select id="tweet_filter">
							<option val="your">Your Tweets</option>
						</select>
						<div id="main_buttons">
							<div id="list_button"></div>
							<div id="box_button"></div>
						</div>
						<ul id="tweets">
							<li>
								<div class="tweet_icon"></div>
								<div class="tweet_buttons">
									<div class="like_button"></div>
									<div class="like_counter">25</div>
									<div class="rt_button"></div>
									<div class="rt_counter">12</div>
								</div>
								<div class="tweet_text">後藤まりこの2ndソロアルバムは『ｍ＠ｕ』、Serph、スガダイローら参加 http://www.cinra.net/news/2013/10/21/130000.php …</div>
								<div class="tweet_date">2013年10月28日 - 13:23</div>
							</li>
							<li>
								<div class="tweet_icon"></div>
								<div class="tweet_buttons">
									<div class="like_button"></div>
									<div class="like_counter">5</div>
									<div class="rt_button"></div>
									<div class="rt_counter">9</div>
								</div>
								<div class="tweet_text">testtesttesttesttesttesttesttesttest　あｓｄふぁｓｄｌｋｆじゃｓｌｄｋｆじゃｓｌ；ｄｆ　あｓｌｄｋｆじゃｓｌ；ｄｋｆじゃｓｄ；ｌｋｆじゃｓ；ｄｆｌｋ　あｓ；ｌｄｆｋじゃｓ；ｌｄｆｋじゃｓ；ｄｌｆｋｊ</div>
								<div class="tweet_date">2013年10月28日 - 13:23</div>
							</li>
							<li>
								<div class="tweet_icon"></div>
								<div class="tweet_buttons">
									<div class="like_button"></div>
									<div class="like_counter">222</div>
									<div class="rt_button"></div>
									<div class="rt_counter">333</div>
								</div>
								<div class="tweet_text">testtesttesttesttesttesttesttesttest　あｓｄふぁｓｄｌｋｆじゃｓｌｄｋｆじゃｓｌ；ｄｆ　あｓｌｄｋｆじゃｓｌ；ｄｋｆじゃｓｄ；ｌｋｆじゃｓ；ｄｆｌｋ　あｓ；ｌｄｆｋじゃｓ；ｌｄｆｋじゃｓ；ｄｌｆｋｊ</div>
								<div class="tweet_date">2013年10月28日 - 13:23</div>
							</li>
							<li>
								<div class="tweet_icon"></div>
								<div class="tweet_buttons">
									<div class="like_button"></div>
									<div class="like_counter">222</div>
									<div class="rt_button"></div>
									<div class="rt_counter">333</div>
								</div>
								<div class="tweet_text">testtesttesttesttesttesttesttesttest　あｓｄふぁｓｄｌｋｆじゃｓｌｄｋｆじゃｓｌ；ｄｆ　あｓｌｄｋｆじゃｓｌ；ｄｋｆじゃｓｄ；ｌｋｆじゃｓ；ｄｆｌｋ　あｓ；ｌｄｆｋじゃｓ；ｌｄｆｋじゃｓ；ｄｌｆｋｊ</div>
								<div class="tweet_date">2013年10月28日 - 13:23</div>
							</li>
							<li>
								<div class="tweet_icon"></div>
								<div class="tweet_buttons">
									<div class="like_button"></div>
									<div class="like_counter">222</div>
									<div class="rt_button"></div>
									<div class="rt_counter">333</div>
								</div>
								<div class="tweet_text">testtesttesttesttesttesttesttesttest　あｓｄふぁｓｄｌｋｆじゃｓｌｄｋｆじゃｓｌ；ｄｆ　あｓｌｄｋｆじゃｓｌ；ｄｋｆじゃｓｄ；ｌｋｆじゃｓ；ｄｆｌｋ　あｓ；ｌｄｆｋじゃｓ；ｌｄｆｋじゃｓ；ｄｌｆｋｊ</div>
								<div class="tweet_date">2013年10月28日 - 13:23</div>
							</li>
							<li>
								<div class="tweet_icon"></div>
								<div class="tweet_buttons">
									<div class="like_button"></div>
									<div class="like_counter">222</div>
									<div class="rt_button"></div>
									<div class="rt_counter">333</div>
								</div>
								<div class="tweet_text">testtesttesttesttesttesttesttesttest　あｓｄふぁｓｄｌｋｆじゃｓｌｄｋｆじゃｓｌ；ｄｆ　あｓｌｄｋｆじゃｓｌ；ｄｋｆじゃｓｄ；ｌｋｆじゃｓ；ｄｆｌｋ　あｓ；ｌｄｆｋじゃｓ；ｌｄｆｋじゃｓ；ｄｌｆｋｊ</div>
								<div class="tweet_date">2013年10月28日 - 13:23</div>
							</li>
							<li>
								<div class="tweet_icon"></div>
								<div class="tweet_buttons">
									<div class="like_button"></div>
									<div class="like_counter">222</div>
									<div class="rt_button"></div>
									<div class="rt_counter">333</div>
								</div>
								<div class="tweet_text">testtesttesttesttesttesttesttesttest　あｓｄふぁｓｄｌｋｆじゃｓｌｄｋｆじゃｓｌ；ｄｆ　あｓｌｄｋｆじゃｓｌ；ｄｋｆじゃｓｄ；ｌｋｆじゃｓ；ｄｆｌｋ　あｓ；ｌｄｆｋじゃｓ；ｌｄｆｋじゃｓ；ｄｌｆｋｊ</div>
								<div class="tweet_date">2013年10月28日 - 13:23</div>
							</li>
							<li>
								<div class="tweet_icon"></div>
								<div class="tweet_buttons">
									<div class="like_button"></div>
									<div class="like_counter">222</div>
									<div class="rt_button"></div>
									<div class="rt_counter">333</div>
								</div>
								<div class="tweet_text">testtesttesttesttesttesttesttesttest　あｓｄふぁｓｄｌｋｆじゃｓｌｄｋｆじゃｓｌ；ｄｆ　あｓｌｄｋｆじゃｓｌ；ｄｋｆじゃｓｄ；ｌｋｆじゃｓ；ｄｆｌｋ　あｓ；ｌｄｆｋじゃｓ；ｌｄｆｋじゃｓ；ｄｌｆｋｊ</div>
								<div class="tweet_date">2013年10月28日 - 13:23</div>
							</li>
							<li>
								<div class="tweet_icon"></div>
								<div class="tweet_buttons">
									<div class="like_button"></div>
									<div class="like_counter">222</div>
									<div class="rt_button"></div>
									<div class="rt_counter">333</div>
								</div>
								<div class="tweet_text">testtesttesttesttesttesttesttesttest　あｓｄふぁｓｄｌｋｆじゃｓｌｄｋｆじゃｓｌ；ｄｆ　あｓｌｄｋｆじゃｓｌ；ｄｋｆじゃｓｄ；ｌｋｆじゃｓ；ｄｆｌｋ　あｓ；ｌｄｆｋじゃｓ；ｌｄｆｋじゃｓ；ｄｌｆｋｊ</div>
								<div class="tweet_date">2013年10月28日 - 13:23</div>
							</li>
						</ul>
					</div>
				</div>
				<div id="close_button"></div>
				<div id="open_button"></div>
				<div id="left">
					<div class="spacer"></div>
					<div id="profile_header">Profile</div>
					<div id="profile_body">
						カルチャーニュースサイト http:/CINRA.NET の公式アカウントです。ニュースとコンテンツの更新＋αをご紹介します。ご意見・問合せなどは http://CINRA.NET のウェブサイトのお問い合わせフォームからお送りください。
						<br>
						<br>
						Tokyo
					</div>
				</div>
			</div>
			<div id="right">
				<div class="spacer"></div>
				<div id="banners">
					<div class="banner">
						<img src="/client/timeline/img/banner1.png">
					</div>
					<div class="banner">
						<img src="/client/timeline/img/banner2.png">
					</div>
					<div class="banner">
						<img src="/client/timeline/img/banner3.png">
					</div>
					<div class="banner">
						<img src="/client/timeline/img/banner4.png">
					</div>
				</div>
			</div>
		</div>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="/client/timeline/timeline.js"></script>
	</body>
</html>
