html {
	background-color: black;
}
body {
	background-color: black;
	color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

button {
	cursor: pointer;
	-webkit-transition: all 0.2s ease 0;
}
button:hover {
	background-color: white;
}

h1 {
	font-size: 100px;
	text-align: center;
	font-family: 'Quantico', sans-serif;
	height: 100px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.description {
	text-align: center;
	font-size: 25px;
}
.logo {
	background-image: url("/client/login/img/logo.png");
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.login_block {
	width: 600px;
	margin-top: 50px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.login_board {
	border-style: solid;
	border-color: white;
	border-width: 2px;
	padding: 10px;
}

.sns_login {
	width: 250px;
}
.sns_login>div {
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 12px;
}

.normal_login {
	position: absolute;
	top: 0px;
	left: 300px;
	width: 250px;
}
.normal_login .buttons {
	margin-top: 10px;
}

.trial {
	position: absolute;
	top: 200px;
	left: 0px;
	width: 250px;
}
.trial .description {
	font-size: small;
	text-align: left;
	margin: 5px;
}

.registration {
	position: absolute;
	top: 145px;
	left: 300px;
	width: 250px;
}

.explain {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	font-size: small;
}

a {
	color: lightblue;
}

.inquiry {
	position: absolute;
	left: 300px;
	top: 305px;
	width: 250px;
	height: 100px;
}

.bold {
	font-weight: bold;
	margin-bottom: 5px;
}